body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1609px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:540px;
}
#u2137 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:41px;
  width:304px;
  height:539px;
}
#u2138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:262px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u2139 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:49px;
  width:40px;
  height:22px;
  color:#FFFFFF;
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u2141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:49px;
  width:15px;
  height:19px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u2143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:47px;
  width:32px;
  height:17px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u2145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:49px;
  width:23px;
  height:22px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u2147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:21px;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:81px;
  width:51px;
  height:20px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FF9933;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u2149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:79px;
  width:42px;
  height:22px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FF9933;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u2151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:51px;
  width:20px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:71px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:49px;
  width:20px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:307px;
}
#u2157 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:274px;
  width:304px;
  height:306px;
}
#u2158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:145px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:344px;
  width:304px;
  height:1px;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:384px;
  width:304px;
  height:1px;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:424px;
  width:304px;
  height:1px;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:280px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:38px;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:434px;
  width:82px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:320px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:355px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:395px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:464px;
  width:304px;
  height:1px;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:504px;
  width:304px;
  height:1px;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:539px;
  width:304px;
  height:1px;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:509px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:309px;
  width:304px;
  height:1px;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:472px;
  width:66px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u2187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:549px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:158px;
  width:41px;
  height:41px;
  font-size:36px;
  color:#FF9933;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:158px;
  width:41px;
  height:41px;
  font-size:36px;
  color:#FF9933;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:177px;
  width:19px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u2195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:128px;
  width:60px;
  height:35px;
  font-size:32px;
  color:#666666;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:128px;
  width:36px;
  height:35px;
  font-size:32px;
  color:#666666;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u2199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:190px;
  width:60px;
  height:35px;
  font-size:32px;
  color:#666666;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:30px;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:190px;
  width:40px;
  height:29px;
  font-size:32px;
  color:#666666;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u2203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:101px;
  width:60px;
  height:35px;
  font-size:28px;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:100px;
  width:60px;
  height:35px;
  font-size:28px;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:219px;
  width:60px;
  height:35px;
  font-size:28px;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:219px;
  width:44px;
  height:35px;
  font-size:28px;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u2211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:177px;
  width:19px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u2213_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:120px;
  height:31px;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:522px;
  width:105px;
  height:5px;
  font-size:12px;
  color:#FF9933;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:55px;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:532px;
  width:67px;
  height:55px;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:41px;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:587px;
  width:95px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u2219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:540px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:41px;
  width:304px;
  height:539px;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:262px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:49px;
  width:40px;
  height:22px;
  color:#FFFFFF;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u2223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:49px;
  width:15px;
  height:19px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u2225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:47px;
  width:20px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:47px;
  width:32px;
  height:17px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u2229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:49px;
  width:23px;
  height:22px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u2231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:51px;
  width:20px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:43px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:78px;
  width:304px;
  height:42px;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:90px;
  width:44px;
  height:18px;
  color:#FF9933;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:90px;
  width:59px;
  height:18px;
  color:#FFFFFF;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:19px;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:122px;
  width:209px;
  height:18px;
  color:#CCCCCC;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u2241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:93px;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:158px;
  width:304px;
  height:92px;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:140px;
  width:60px;
  height:14px;
  font-size:13px;
  color:#999999;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
}
#u2245 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:165px;
  width:65px;
  height:20px;
  color:#FFFFFF;
}
#u2246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u2247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u2247 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:260px;
  width:27px;
  height:15px;
  font-size:13px;
  color:#999999;
}
#u2248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:51px;
}
#u2249 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:281px;
  width:304px;
  height:50px;
}
#u2250 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2251 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:306px;
  width:304px;
  height:1px;
}
#u2252 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u2253 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:284px;
  width:40px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u2254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u2255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u2255 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:311px;
  width:40px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u2256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u2257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2257 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:344px;
  width:52px;
  height:15px;
  font-size:13px;
  color:#999999;
}
#u2258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:83px;
}
#u2259 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:362px;
  width:304px;
  height:82px;
}
#u2260 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2261 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:391px;
  width:304px;
  height:1px;
}
#u2262 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2263 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:416px;
  width:304px;
  height:1px;
}
#u2264 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u2265 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:367px;
  width:40px;
  height:18px;
  color:#FFFFFF;
}
#u2266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u2267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u2267 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:395px;
  width:40px;
  height:18px;
  color:#FFFFFF;
}
#u2268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u2269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u2269 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:423px;
  width:40px;
  height:12px;
  color:#FFFFFF;
}
#u2270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u2271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:69px;
}
#u2271 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:482px;
  width:304px;
  height:68px;
}
#u2272 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:18px;
}
#u2273 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:165px;
  width:47px;
  height:17px;
  font-size:13px;
  color:#FFFFFF;
}
#u2274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u2275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u2275 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:458px;
  width:78px;
  height:15px;
  font-size:13px;
  color:#999999;
}
#u2276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u2277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2277 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:516px;
  width:304px;
  height:1px;
}
#u2278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:24px;
}
#u2279 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:490px;
  width:124px;
  height:23px;
  color:#FFFFFF;
}
#u2280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u2281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:24px;
}
#u2281 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:523px;
  width:167px;
  height:23px;
  color:#FFFFFF;
}
#u2282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u2283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
}
#u2283 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:484px;
  width:47px;
  height:28px;
}
#u2284 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u2285 {
  border-width:0px;
  position:absolute;
  left:1153px;
  top:522px;
  width:38px;
  height:23px;
}
#u2286 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u2287 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:548px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u2289 {
  border-width:0px;
  position:absolute;
  left:1166px;
  top:367px;
  width:25px;
  height:23px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:17px;
  color:#FF9933;
}
#u2290 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u2291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:550px;
}
#u2291 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:671px;
  width:422px;
  height:549px;
  font-size:16px;
}
#u2292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  word-wrap:break-word;
}
#u2293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2293 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:190px;
  width:304px;
  height:1px;
}
#u2294 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2295 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:219px;
  width:304px;
  height:1px;
}
#u2296 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u2297 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:195px;
  width:59px;
  height:25px;
  color:#FFFFFF;
}
#u2298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u2299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:31px;
}
#u2299 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:225px;
  width:59px;
  height:30px;
  color:#FFFFFF;
}
#u2300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u2301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:540px;
}
#u2301 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:41px;
  width:304px;
  height:539px;
}
#u2302 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:262px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u2303 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:49px;
  width:40px;
  height:22px;
  color:#FFFFFF;
}
#u2304 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u2305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u2305 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:49px;
  width:15px;
  height:19px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u2307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u2307 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:47px;
  width:20px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u2308 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u2309 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:47px;
  width:32px;
  height:17px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u2311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u2311 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:49px;
  width:23px;
  height:22px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u2313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u2313 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:51px;
  width:20px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u2314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:43px;
}
#u2315 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:78px;
  width:304px;
  height:42px;
}
#u2316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u2317 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:90px;
  width:44px;
  height:18px;
  color:#FF9933;
}
#u2318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u2319 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:90px;
  width:59px;
  height:18px;
  color:#FFFFFF;
}
#u2320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:19px;
}
#u2321 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:122px;
  width:209px;
  height:18px;
  color:#CCCCCC;
}
#u2322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u2323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:93px;
}
#u2323 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:158px;
  width:304px;
  height:92px;
}
#u2324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u2325 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:140px;
  width:60px;
  height:14px;
  font-size:13px;
  color:#999999;
}
#u2326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:21px;
}
#u2327 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:165px;
  width:65px;
  height:20px;
  color:#FFFFFF;
}
#u2328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u2329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u2329 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:260px;
  width:27px;
  height:15px;
  font-size:13px;
  color:#999999;
}
#u2330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:51px;
}
#u2331 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:281px;
  width:304px;
  height:50px;
}
#u2332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2333 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:306px;
  width:304px;
  height:1px;
}
#u2334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u2335 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:284px;
  width:40px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u2336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u2337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u2337 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:311px;
  width:40px;
  height:18px;
  font-size:15px;
  color:#FFFFFF;
}
#u2338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u2339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u2339 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:344px;
  width:52px;
  height:15px;
  font-size:13px;
  color:#999999;
}
#u2340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:83px;
}
#u2341 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:362px;
  width:304px;
  height:82px;
}
#u2342 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2343 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:391px;
  width:304px;
  height:1px;
}
#u2344 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2345 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:416px;
  width:304px;
  height:1px;
}
#u2346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u2347 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:367px;
  width:40px;
  height:18px;
  color:#FFFFFF;
}
#u2348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u2349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u2349 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:395px;
  width:40px;
  height:18px;
  color:#FFFFFF;
}
#u2350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u2351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u2351 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:423px;
  width:40px;
  height:12px;
  color:#FFFFFF;
}
#u2352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u2353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:69px;
}
#u2353 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:482px;
  width:304px;
  height:68px;
}
#u2354 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u2355 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:458px;
  width:78px;
  height:15px;
  font-size:13px;
  color:#999999;
}
#u2356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u2357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2357 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:516px;
  width:304px;
  height:1px;
}
#u2358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:24px;
}
#u2359 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:490px;
  width:124px;
  height:23px;
  color:#FFFFFF;
}
#u2360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u2361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:24px;
}
#u2361 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:523px;
  width:167px;
  height:23px;
  color:#FFFFFF;
}
#u2362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u2363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
}
#u2363 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:484px;
  width:47px;
  height:28px;
}
#u2364 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2365 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:190px;
  width:304px;
  height:1px;
}
#u2366 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2367 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:219px;
  width:304px;
  height:1px;
}
#u2368 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
}
#u2369 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:195px;
  width:59px;
  height:25px;
  color:#FFFFFF;
}
#u2370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u2371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:31px;
}
#u2371 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:225px;
  width:59px;
  height:30px;
  color:#FFFFFF;
}
#u2372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u2373_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:120px;
  height:31px;
}
#u2373 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:177px;
  width:105px;
  height:5px;
  font-size:12px;
  color:#FF9933;
}
#u2374 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:50px;
}
#u2375 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:177px;
  width:49px;
  height:50px;
}
#u2376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:109px;
}
#u2377 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:896px;
  width:218px;
  height:108px;
  font-size:16px;
}
#u2378 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2379_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:120px;
  height:31px;
}
#u2379 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:533px;
  width:105px;
  height:5px;
  font-size:12px;
  color:#FF9933;
}
#u2380 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:47px;
}
#u2381 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:533px;
  width:53px;
  height:47px;
}
#u2382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
}
#u2383 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:522px;
  width:47px;
  height:28px;
}
#u2384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:2px;
}
#u2385 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:970px;
  width:218px;
  height:1px;
}
#u2386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:20px;
}
#u2387 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:927px;
  width:172px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u2389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u2389 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:970px;
  width:1px;
  height:34px;
}
#u2390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u2391 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:978px;
  width:15px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u2393 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:978px;
  width:15px;
  height:18px;
  color:#FFFFFF;
}
#u2394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2395_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:120px;
  height:31px;
}
#u2395 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:380px;
  width:105px;
  height:5px;
  font-size:12px;
  color:#FF9933;
}
#u2396 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:47px;
}
#u2397 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:380px;
  width:53px;
  height:47px;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:1094px;
  width:25px;
  height:23px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:17px;
  color:#FF9933;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u2401_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:120px;
  height:31px;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:427px;
  width:105px;
  height:5px;
  font-size:12px;
  color:#FF9933;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:47px;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:1223px;
  top:427px;
  width:53px;
  height:47px;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:540px;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:1305px;
  top:41px;
  width:304px;
  height:539px;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:262px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:1315px;
  top:49px;
  width:40px;
  height:22px;
  color:#FFFFFF;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u2409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:1531px;
  top:49px;
  width:15px;
  height:19px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u2411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:1501px;
  top:47px;
  width:20px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:1556px;
  top:47px;
  width:32px;
  height:17px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u2415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:1478px;
  top:49px;
  width:23px;
  height:22px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u2417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:1577px;
  top:51px;
  width:20px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u2418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:43px;
}
#u2419 {
  border-width:0px;
  position:absolute;
  left:1305px;
  top:81px;
  width:304px;
  height:42px;
}
#u2420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:1311px;
  top:93px;
  width:44px;
  height:18px;
  color:#FF9933;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:1428px;
  top:93px;
  width:30px;
  height:18px;
  color:#FFFFFF;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:1553px;
  top:93px;
  width:30px;
  height:18px;
  color:#FF9933;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:265px;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:1325px;
  top:165px;
  width:265px;
  height:265px;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:28px;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:1434px;
  top:177px;
  width:19px;
  height:27px;
  color:#000000;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:456px;
  width:30px;
  height:18px;
  color:#FFFFFF;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
}
#u2433 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:452px;
  width:57px;
  height:26px;
}
#u2434 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:1351px;
  top:492px;
  width:17px;
  height:18px;
  color:#FFFFFF;
}
#u2436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u2437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:1378px;
  top:488px;
  width:57px;
  height:26px;
  font-size:11px;
  color:#000000;
}
#u2438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
