body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:403px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:436px;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:74px;
  width:320px;
  height:435px;
  font-size:20px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
