body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:540px;
}
#u3170 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:24px;
  width:304px;
  height:539px;
  font-size:14px;
}
#u3171 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:262px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u3172 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:32px;
  width:40px;
  height:22px;
  color:#FFFFFF;
}
#u3173 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u3174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u3174 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:32px;
  width:15px;
  height:19px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u3176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u3176 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:30px;
  width:20px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u3177 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u3178 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:30px;
  width:32px;
  height:17px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u3180 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:34px;
  width:20px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u3181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u3182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u3182 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:32px;
  width:23px;
  height:22px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u3184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:52px;
}
#u3184 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:512px;
  width:304px;
  height:51px;
}
#u3185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:27px;
}
#u3186 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:515px;
  width:35px;
  height:26px;
  color:#FF9933;
}
#u3187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u3188 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:542px;
  width:35px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u3189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u3190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:13px;
}
#u3190 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:541px;
  width:29px;
  height:12px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9933;
}
#u3191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u3192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u3192 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:517px;
  width:37px;
  height:22px;
  color:#FF9933;
}
#u3193 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u3194 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:539px;
  width:35px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
}
#u3195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u3196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u3196 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:36px;
  width:20px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u3197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u3198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u3198 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:512px;
  width:30px;
  height:30px;
  color:#666666;
}
#u3199 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u3200 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:54px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:168px;
}
#u3202 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:112px;
  width:304px;
  height:167px;
  font-size:11px;
}
#u3203 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:15px;
}
#u3204 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:93px;
  width:128px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u3206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:21px;
}
#u3206 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:93px;
  width:27px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF9933;
}
#u3207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u3208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u3208 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:91px;
  width:18px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9933;
}
#u3209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u3210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3210 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:91px;
  width:21px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9933;
}
#u3211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u3212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:61px;
}
#u3212 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:190px;
  width:5px;
  height:60px;
}
#u3213 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:91px;
}
#u3214 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:160px;
  width:21px;
  height:90px;
}
#u3215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:122px;
}
#u3216 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:129px;
  width:78px;
  height:121px;
}
#u3217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:91px;
}
#u3218 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:160px;
  width:12px;
  height:90px;
}
#u3219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:119px;
}
#u3220 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:132px;
  width:39px;
  height:118px;
}
#u3221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:51px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:91px;
}
#u3222 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:160px;
  width:46px;
  height:90px;
}
#u3223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:119px;
}
#u3224 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:132px;
  width:23px;
  height:118px;
}
#u3225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:51px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:91px;
}
#u3226 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:160px;
  width:57px;
  height:90px;
}
#u3227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3228 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:289px;
  width:10px;
  height:10px;
}
#u3229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:11px;
}
#u3230 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:289px;
  width:130px;
  height:10px;
  font-size:12px;
  color:#00CC33;
}
#u3231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u3232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3232 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:303px;
  width:10px;
  height:10px;
}
#u3233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:11px;
}
#u3234 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:303px;
  width:124px;
  height:10px;
  font-size:12px;
  color:#0099FF;
}
#u3235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u3236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3236 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:317px;
  width:10px;
  height:10px;
}
#u3237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:11px;
}
#u3238 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:317px;
  width:96px;
  height:10px;
  font-size:12px;
  color:#FFFF99;
}
#u3239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u3240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:11px;
}
#u3240 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:260px;
  width:35px;
  height:10px;
  font-size:12px;
  color:#FFFFFF;
}
#u3241 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u3242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3242 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:260px;
  width:10px;
  height:10px;
  color:#FFFFFF;
}
#u3243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3244 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:260px;
  width:10px;
  height:10px;
}
#u3245 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:11px;
}
#u3246 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:260px;
  width:45px;
  height:10px;
  font-size:12px;
  color:#FFFFFF;
}
#u3247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u3248_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:65px;
  height:65px;
}
#u3248 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:289px;
  width:60px;
  height:60px;
  color:#FF9933;
}
#u3249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:56px;
  word-wrap:break-word;
}
#u3250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3250 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:112px;
  width:14px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u3251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u3252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3252 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:112px;
  width:14px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u3253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u3254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u3254 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:112px;
  width:9px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u3255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  word-wrap:break-word;
}
#u3256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3256 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:113px;
  width:14px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u3257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u3258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3258 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:112px;
  width:14px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u3259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u3260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3260 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:112px;
  width:14px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u3261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u3262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u3262 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:112px;
  width:20px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u3263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u3264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3264 {
  border-width:0px;
  position:absolute;
  left:813px;
  top:112px;
  width:14px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u3265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  word-wrap:break-word;
}
#u3266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:540px;
}
#u3266 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:24px;
  width:304px;
  height:539px;
  font-size:14px;
}
#u3267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:262px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u3268 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:32px;
  width:40px;
  height:22px;
  color:#FFFFFF;
}
#u3269 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u3270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u3270 {
  border-width:0px;
  position:absolute;
  left:1241px;
  top:32px;
  width:15px;
  height:19px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u3272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u3272 {
  border-width:0px;
  position:absolute;
  left:1211px;
  top:30px;
  width:20px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u3273 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u3274 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:30px;
  width:32px;
  height:17px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u3276 {
  border-width:0px;
  position:absolute;
  left:1287px;
  top:34px;
  width:20px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u3277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u3278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u3278 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:32px;
  width:23px;
  height:22px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u3280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:11px;
}
#u3280 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:91px;
  width:145px;
  height:10px;
  font-size:13px;
  color:#FFFFFF;
}
#u3281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u3282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:34px;
}
#u3282 {
  border-width:0px;
  position:absolute;
  left:1026px;
  top:189px;
  width:281px;
  height:33px;
}
#u3283 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:277px;
  word-wrap:break-word;
}
#u3284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:34px;
}
#u3284 {
  border-width:0px;
  position:absolute;
  left:1026px;
  top:232px;
  width:282px;
  height:33px;
}
#u3285 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:34px;
}
#u3286 {
  border-width:0px;
  position:absolute;
  left:1026px;
  top:275px;
  width:282px;
  height:33px;
}
#u3287 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:34px;
}
#u3288 {
  border-width:0px;
  position:absolute;
  left:1026px;
  top:318px;
  width:282px;
  height:33px;
}
#u3289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:34px;
}
#u3290 {
  border-width:0px;
  position:absolute;
  left:1026px;
  top:404px;
  width:282px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:34px;
}
#u3292 {
  border-width:0px;
  position:absolute;
  left:1026px;
  top:361px;
  width:282px;
  height:33px;
}
#u3293 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:11px;
}
#u3294 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:116px;
  width:190px;
  height:10px;
  font-size:13px;
  color:#FFFFFF;
}
#u3295 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u3296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:11px;
}
#u3296 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:141px;
  width:190px;
  height:10px;
  font-size:13px;
  color:#FFFFFF;
}
#u3297 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u3298_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:65px;
  height:65px;
}
#u3298 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:89px;
  width:60px;
  height:60px;
  color:#FF9933;
}
#u3299 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:56px;
  word-wrap:break-word;
}
#u3300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
}
#u3300 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:194px;
  width:138px;
  height:24px;
}
#u3301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u3302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
}
#u3302 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:236px;
  width:138px;
  height:24px;
}
#u3303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u3304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
}
#u3304 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:279px;
  width:138px;
  height:24px;
}
#u3305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u3306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
}
#u3306 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:322px;
  width:138px;
  height:24px;
}
#u3307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u3308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
}
#u3308 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:365px;
  width:138px;
  height:24px;
}
#u3309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u3310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
}
#u3310 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:408px;
  width:138px;
  height:24px;
}
#u3311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u3312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:34px;
}
#u3312 {
  border-width:0px;
  position:absolute;
  left:1026px;
  top:447px;
  width:282px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3313 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
}
#u3314 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:451px;
  width:138px;
  height:24px;
}
#u3315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u3316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:34px;
}
#u3316 {
  border-width:0px;
  position:absolute;
  left:1026px;
  top:490px;
  width:282px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3317 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:25px;
}
#u3318 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:494px;
  width:138px;
  height:24px;
}
#u3319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u3320_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:101px;
  height:10px;
}
#u3320 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:558px;
  width:96px;
  height:5px;
}
#u3321 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:24px;
}
#u3322 {
  border-width:0px;
  position:absolute;
  left:1151px;
  top:52px;
  width:35px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u3324_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u3324 {
  border-width:0px;
  position:absolute;
  left:1241px;
  top:197px;
  width:31px;
  height:18px;
  color:#FFFF99;
}
#u3325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u3326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u3326 {
  border-width:0px;
  position:absolute;
  left:1241px;
  top:242px;
  width:31px;
  height:18px;
  color:#FFFF99;
}
#u3327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u3328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u3328 {
  border-width:0px;
  position:absolute;
  left:1241px;
  top:285px;
  width:31px;
  height:18px;
  color:#FFFF99;
}
#u3329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u3330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u3330 {
  border-width:0px;
  position:absolute;
  left:1246px;
  top:328px;
  width:31px;
  height:18px;
  color:#FFFF99;
}
#u3331 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u3332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u3332 {
  border-width:0px;
  position:absolute;
  left:1246px;
  top:369px;
  width:31px;
  height:18px;
  color:#FFFF99;
}
#u3333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u3334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u3334 {
  border-width:0px;
  position:absolute;
  left:1246px;
  top:412px;
  width:31px;
  height:18px;
  color:#FFFF99;
}
#u3335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u3336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u3336 {
  border-width:0px;
  position:absolute;
  left:1246px;
  top:455px;
  width:31px;
  height:18px;
  color:#FFFF99;
}
#u3337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u3338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:19px;
}
#u3338 {
  border-width:0px;
  position:absolute;
  left:1246px;
  top:498px;
  width:31px;
  height:18px;
  color:#FFFF99;
}
#u3339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u3340_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:120px;
  height:31px;
}
#u3340 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:91px;
  width:105px;
  height:5px;
  font-size:12px;
  color:#FF9933;
}
#u3341 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:55px;
}
#u3342 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:101px;
  width:67px;
  height:55px;
}
#u3343 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:41px;
}
#u3344 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:156px;
  width:95px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u3346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:540px;
}
#u3346 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:24px;
  width:304px;
  height:539px;
  font-size:14px;
}
#u3347 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:262px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u3348 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:32px;
  width:40px;
  height:22px;
  color:#FFFFFF;
}
#u3349 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u3350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:52px;
}
#u3350 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:512px;
  width:303px;
  height:51px;
}
#u3351 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u3352 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:32px;
  width:15px;
  height:19px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u3354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u3354 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:30px;
  width:20px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u3355 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u3356 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:30px;
  width:32px;
  height:17px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u3358 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:34px;
  width:20px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u3359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u3360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u3360 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:32px;
  width:23px;
  height:22px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u3362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:27px;
}
#u3362 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:515px;
  width:35px;
  height:26px;
  color:#FF9933;
}
#u3363 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u3364 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:542px;
  width:35px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u3365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u3366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:13px;
}
#u3366 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:541px;
  width:29px;
  height:12px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF9933;
}
#u3367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u3368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u3368 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:517px;
  width:37px;
  height:22px;
  color:#FF9933;
}
#u3369 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u3370 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:539px;
  width:35px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#6B6B6B;
}
#u3371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u3372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u3372 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:357px;
  width:111px;
  height:29px;
  color:#FF9933;
}
#u3373 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u3374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u3374 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:411px;
  width:111px;
  height:29px;
  color:#FF9933;
}
#u3375 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u3376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
}
#u3376 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:359px;
  width:86px;
  height:39px;
}
#u3377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u3378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
}
#u3378 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:359px;
  width:86px;
  height:39px;
}
#u3379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u3380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u3380 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:412px;
  width:91px;
  height:39px;
  font-size:13px;
  color:#CCCCCC;
}
#u3381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u3382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u3382 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:408px;
  width:304px;
  height:1px;
}
#u3383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:31px;
}
#u3384 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:434px;
  width:304px;
  height:30px;
  color:#FF9933;
}
#u3385 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:11px;
}
#u3386 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:440px;
  width:162px;
  height:10px;
  color:#FFFFFF;
}
#u3387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u3388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:21px;
}
#u3388 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:440px;
  width:27px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF9933;
}
#u3389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u3390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:25px;
}
#u3390 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:434px;
  width:11px;
  height:24px;
  font-family:'Iaxurefont Bold', 'Iaxurefont';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9933;
}
#u3391 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:7px;
  word-wrap:break-word;
}
#u3392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:31px;
}
#u3392 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:474px;
  width:303px;
  height:30px;
  color:#FF9933;
}
#u3393 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:11px;
}
#u3394 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:480px;
  width:162px;
  height:10px;
  color:#FFFFFF;
}
#u3395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u3396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:21px;
}
#u3396 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:480px;
  width:27px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF9933;
}
#u3397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u3398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:25px;
}
#u3398 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:474px;
  width:11px;
  height:24px;
  font-family:'Iaxurefont Bold', 'Iaxurefont';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9933;
}
#u3399 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:7px;
  word-wrap:break-word;
}
#u3400_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:267px;
  height:31px;
}
#u3400 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:424px;
  width:252px;
  height:5px;
  font-size:12px;
  color:#FF9933;
}
#u3401 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:55px;
}
#u3402 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:434px;
  width:67px;
  height:55px;
}
#u3403 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:41px;
}
#u3404 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:489px;
  width:95px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u3406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:31px;
}
#u3406 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:512px;
  width:28px;
  height:30px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:27px;
  color:#666666;
}
#u3407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u3408_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:175px;
  height:175px;
}
#u3408 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:135px;
  width:170px;
  height:170px;
  font-size:26px;
  color:#FFFFFF;
}
#u3409 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
#u3410 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:236px;
  width:39px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u3411 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u3412 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:193px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u3413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:393px;
}
#u3414 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:614px;
  width:395px;
  height:392px;
  font-size:16px;
}
#u3415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  word-wrap:break-word;
}
#u3416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u3416 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:54px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u3418 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:54px;
  width:44px;
  height:18px;
  color:#FF9933;
}
#u3419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u3420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u3420 {
  border-width:0px;
  position:absolute;
  left:1026px;
  top:54px;
  width:44px;
  height:18px;
  color:#FF9933;
}
#u3421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u3422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u3422 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:690px;
  width:18px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9933;
}
#u3423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u3424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u3424 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:690px;
  width:17px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9933;
}
#u3425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u3426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:27px;
}
#u3426 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:80px;
  width:41px;
  height:27px;
}
#u3427 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u3428 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:85px;
  width:30px;
  height:18px;
  color:#FFFFFF;
}
#u3429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
