body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1231px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:540px;
}
#u2440 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:41px;
  width:304px;
  height:539px;
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:262px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u2442 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:49px;
  width:40px;
  height:22px;
  color:#FFFFFF;
}
#u2443 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u2444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:49px;
  width:15px;
  height:19px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u2446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:47px;
  width:32px;
  height:17px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u2448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:49px;
  width:23px;
  height:22px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u2450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:21px;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:81px;
  width:51px;
  height:20px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FF9933;
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u2452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:23px;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:79px;
  width:42px;
  height:22px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FF9933;
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u2454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:51px;
  width:20px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:71px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:49px;
  width:20px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:307px;
}
#u2460 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:274px;
  width:304px;
  height:306px;
}
#u2461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:145px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2462 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:344px;
  width:304px;
  height:1px;
}
#u2463 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2464 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:384px;
  width:304px;
  height:1px;
}
#u2465 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2466 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:424px;
  width:304px;
  height:1px;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:280px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:38px;
}
#u2470 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:434px;
  width:82px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2472 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:320px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2474 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:355px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2476 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:395px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2478 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:464px;
  width:304px;
  height:1px;
}
#u2479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2480 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:504px;
  width:304px;
  height:1px;
}
#u2481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2482 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:539px;
  width:304px;
  height:1px;
}
#u2483 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u2484 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:509px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2486 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:309px;
  width:304px;
  height:1px;
}
#u2487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
}
#u2488 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:472px;
  width:66px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u2490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u2490 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:549px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2492 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:158px;
  width:41px;
  height:41px;
  font-size:36px;
  color:#FF9933;
}
#u2493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2494 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:158px;
  width:41px;
  height:41px;
  font-size:36px;
  color:#FF9933;
}
#u2495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u2496 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:177px;
  width:19px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u2497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u2498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u2498 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:128px;
  width:60px;
  height:35px;
  font-size:32px;
  color:#666666;
}
#u2499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
}
#u2500 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:128px;
  width:36px;
  height:35px;
  font-size:32px;
  color:#666666;
}
#u2501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u2502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u2502 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:190px;
  width:60px;
  height:35px;
  font-size:32px;
  color:#666666;
}
#u2503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:30px;
}
#u2504 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:190px;
  width:40px;
  height:29px;
  font-size:32px;
  color:#666666;
}
#u2505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u2506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u2506 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:101px;
  width:60px;
  height:35px;
  font-size:28px;
}
#u2507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u2508 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:100px;
  width:60px;
  height:35px;
  font-size:28px;
}
#u2509 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u2510 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:219px;
  width:60px;
  height:35px;
  font-size:28px;
}
#u2511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u2512 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:219px;
  width:44px;
  height:35px;
  font-size:28px;
}
#u2513 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u2514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u2514 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:177px;
  width:19px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u2515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u2516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u2516 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:548px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2518_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:160px;
  height:31px;
}
#u2518 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:558px;
  width:145px;
  height:5px;
  font-size:12px;
  color:#FF9933;
}
#u2519 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:55px;
}
#u2520 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:568px;
  width:67px;
  height:55px;
}
#u2521 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:41px;
}
#u2522 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:623px;
  width:95px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2523 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u2524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:540px;
}
#u2524 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:41px;
  width:304px;
  height:539px;
}
#u2525 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:262px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u2526 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:49px;
  width:40px;
  height:22px;
  color:#FFFFFF;
}
#u2527 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u2528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u2528 {
  border-width:0px;
  position:absolute;
  left:1153px;
  top:49px;
  width:15px;
  height:19px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u2530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u2530 {
  border-width:0px;
  position:absolute;
  left:1123px;
  top:47px;
  width:20px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u2531 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u2532 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:47px;
  width:32px;
  height:17px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u2534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u2534 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:49px;
  width:23px;
  height:22px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u2536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u2536 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:51px;
  width:20px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u2537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:43px;
}
#u2538 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:78px;
  width:304px;
  height:42px;
}
#u2539 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u2540 {
  border-width:0px;
  position:absolute;
  left:933px;
  top:90px;
  width:44px;
  height:18px;
  color:#FF9933;
}
#u2541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u2542 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:90px;
  width:59px;
  height:18px;
  color:#FFFFFF;
}
#u2543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u2544 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:232px;
  width:1px;
  height:16px;
  color:#FFFFFF;
}
#u2545 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u2546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:540px;
}
#u2546 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:47px;
  width:304px;
  height:539px;
}
#u2547 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:262px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u2548 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:55px;
  width:40px;
  height:22px;
  color:#FFFFFF;
}
#u2549 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u2550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u2550 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:55px;
  width:15px;
  height:19px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u2552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u2552 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:53px;
  width:20px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u2553 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u2554 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:53px;
  width:32px;
  height:17px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u2556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u2556 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:55px;
  width:23px;
  height:22px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u2558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:15px;
}
#u2558 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:57px;
  width:20px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u2559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:43px;
}
#u2560 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:84px;
  width:304px;
  height:42px;
}
#u2561 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:19px;
}
#u2562 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:96px;
  width:44px;
  height:18px;
  color:#FF9933;
}
#u2563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u2564 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:96px;
  width:59px;
  height:18px;
  color:#FFFFFF;
}
#u2565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:38px;
}
#u2566 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:156px;
  width:304px;
  height:37px;
  font-size:14px;
  color:#FFFFFF;
}
#u2567 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u2568 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:168px;
  width:73px;
  height:18px;
  color:#FFFFFF;
}
#u2569 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:38px;
}
#u2570 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:211px;
  width:304px;
  height:37px;
  font-size:14px;
  color:#FFFFFF;
}
#u2571 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
}
#u2572 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:221px;
  width:87px;
  height:18px;
  color:#FFFFFF;
}
#u2573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:34px;
}
#u2574 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:158px;
  width:53px;
  height:34px;
}
#u2575 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:34px;
}
#u2576 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:213px;
  width:53px;
  height:34px;
}
#u2577 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:38px;
}
#u2578 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:150px;
  width:304px;
  height:37px;
  font-size:14px;
  color:#FFFFFF;
}
#u2579 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u2580 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:162px;
  width:73px;
  height:18px;
  color:#FFFFFF;
}
#u2581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:38px;
}
#u2582 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:273px;
  width:304px;
  height:37px;
  font-size:14px;
  color:#FFFFFF;
}
#u2583 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
}
#u2584 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:283px;
  width:87px;
  height:18px;
  color:#FFFFFF;
}
#u2585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
}
#u2586 {
  border-width:0px;
  position:absolute;
  left:1175px;
  top:155px;
  width:44px;
  height:28px;
}
#u2587 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
}
#u2588 {
  border-width:0px;
  position:absolute;
  left:1175px;
  top:278px;
  width:44px;
  height:28px;
}
#u2589 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:41px;
}
#u2590 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:187px;
  width:304px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u2591 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:20px;
}
#u2592 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:195px;
  width:292px;
  height:19px;
  font-size:16px;
}
#u2593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  white-space:nowrap;
}
#u2594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:196px;
}
#u2594 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:310px;
  width:304px;
  height:195px;
  font-size:14px;
  color:#FFFFFF;
}
#u2595 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:90px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2596 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:345px;
  width:304px;
  height:1px;
}
#u2597 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2598 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:385px;
  width:304px;
  height:1px;
}
#u2599 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2600 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:425px;
  width:304px;
  height:1px;
}
#u2601 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2602 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:464px;
  width:304px;
  height:1px;
}
#u2603 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2604 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:317px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2606 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:356px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2608 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:398px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2609 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2610 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:435px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2612 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:475px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u2614 {
  border-width:0px;
  position:absolute;
  left:1194px;
  top:317px;
  width:25px;
  height:23px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:17px;
  color:#FF9933;
}
#u2615 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u2616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u2616 {
  border-width:0px;
  position:absolute;
  left:1194px;
  top:350px;
  width:25px;
  height:23px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:17px;
  color:#FF9933;
}
#u2617 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u2618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u2618 {
  border-width:0px;
  position:absolute;
  left:1194px;
  top:433px;
  width:25px;
  height:23px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:17px;
  color:#FF9933;
}
#u2619 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u2620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u2620 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:187px;
  width:304px;
  height:1px;
}
#u2621 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2622_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:149px;
  height:31px;
}
#u2622 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:178px;
  width:134px;
  height:5px;
  font-size:12px;
  color:#FF9933;
}
#u2623 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:55px;
}
#u2624 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:269px;
  width:67px;
  height:55px;
}
#u2625 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:41px;
}
#u2626 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:324px;
  width:95px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u2628_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:89px;
  height:31px;
}
#u2628 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:291px;
  width:74px;
  height:5px;
  font-size:12px;
  color:#FF9933;
}
#u2629 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2630_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:87px;
  height:10px;
}
#u2630 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:229px;
  width:82px;
  height:5px;
  color:#FF9933;
}
#u2631 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2632_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:72px;
}
#u2632 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:229px;
  width:5px;
  height:67px;
}
#u2633 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:55px;
}
#u2634 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:174px;
  width:67px;
  height:55px;
}
#u2635 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:41px;
}
#u2636 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:229px;
  width:95px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u2638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:450px;
}
#u2638 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:682px;
  width:372px;
  height:449px;
}
#u2639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  word-wrap:break-word;
}
#u2640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:111px;
}
#u2640 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:827px;
  width:220px;
  height:110px;
}
#u2641 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:47px;
}
#u2642 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:844px;
  width:183px;
  height:46px;
  color:#FFFFFF;
  text-align:center;
}
#u2643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u2644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:2px;
}
#u2644 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:908px;
  width:220px;
  height:1px;
  color:#FF9933;
}
#u2645 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u2646 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:915px;
  width:30px;
  height:18px;
  color:#FFFFFF;
}
#u2647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:39px;
}
#u2648 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:23px;
  width:14px;
  height:38px;
  color:#FF9933;
}
#u2649 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2650_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:760px;
  height:10px;
}
#u2650 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:23px;
  width:755px;
  height:5px;
  color:#FF9933;
}
#u2651 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:751px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2652_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:63px;
}
#u2652 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:28px;
  width:5px;
  height:58px;
}
#u2653 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2654_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:57px;
}
#u2654 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:28px;
  width:5px;
  height:52px;
}
#u2655 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:55px;
}
#u2656 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:33px;
  width:67px;
  height:55px;
}
#u2657 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
